<html>
 <head>
     <title>Summarization of Text</title>
    <script type="text/javascript" src="/jquery-3.3.1.min.js"></script>
     <style>
         #loading {
                width: 35px;
                height: 35px;
                display: none;
                background: url(/loder.gif) no-repeat;
                cursor: wait;
         }
     </style>
</head>

   <body>
   <script type="text/javascript">
        function loading()
            {

                $("#loading").show();
                $("#content").hide();
            }
   </script>
    <div id="loading"></div>
    <div id="content">
      <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit" value="Summarize" onclick="loading()"/>
      </form>
    </div>
   </body>

</html>